.interests-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.interests-title {
    font-size: 16px;
    font-weight: 700;
}

.interests-desc {
    font-size: 10px;
    font-weight: 400;
}