
html, body, #root { height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  box-sizing: border-box;
}


.card-container {
  width: 317px;
  background-color: #1A1B21;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.main-content {
  padding: 1.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
